@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0;
    background-color: #210002;
    font-family: Poppins, sans-serif;
    font-size: 15px;
}

.banner {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.banner .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.1s;
}

.banner .bg-1 { background-image: url('img/0.png'); }
.banner .bg-2 { background-image: url('img/1.png'); }
.banner .bg-3 { background-image: url('img/2.png'); }
.banner .bg-4 { background-image: url('img/3.png'); }
.banner .bg-5 { background-image: url('img/4.png'); }
.banner .bg-6 { background-image: url('img/5.png'); }
.banner .bg-7 { background-image: url('img/6.png'); }
.banner .bg-8 { background-image: url('img/7.png'); }
.banner .bg-9 { background-image: url('img/8.png'); }

.banner h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

.intro {
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.intro p {
    width: 700px;
    max-width: 100%;
    text-align: center;
}

.intro button {
    background-color: #FD0003;
    padding: 10px 50px;
    border: 1px solid #591F1D;
    border-radius: 5px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.animation-show {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}

.active .animation-show {
    transform: translateY(0);
    opacity: 1;
}

.animation-show:nth-child(2) { transition-delay: 0.3s; }
.animation-show:nth-child(3) { transition-delay: 0.6s; }
.animation-show:nth-child(4) { transition-delay: 0.9s; }

.library {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;
}

.library img {
    width: 90%;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .banner h1 {
        font-size: 5rem;
    }

    .library {
        grid-template-columns: repeat(2, 1fr);
    }

    .library img {
        height: 300px;
    }
}

/* Placeholder style */
.navbar .form-control::placeholder {
    color: rgb(206, 206, 206) !important;
    opacity: 1;
}

.search-container .form-control {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid white;
    height: 38px;
    color: rgb(11, 7, 7) !important;
    background-color: #eee;
}

/* Navbar styles */
.navbar {
    background-color: #F07900;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.nav-link {
    color: white !important;
    font-size: 1.1em;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-nav .nav-link,
.navbar-brand,
.navbar .btn {
    color: white !important;
    font-size: 18px;
}

/* Dropdown menu styles */
.navbar .dropdown-menu {
    background-color: #ffffff;
    border-color: #fefefe;
}

.navbar .dropdown-menu .dropdown-item {
    color: black !important;
    font-size: 18px;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: white !important;
    background-color: black !important;
}

/* Button styles */
.navbar .btn-outline-success {
    color: white !important;
    border-color: white !important;
    background: transparent;
}

.navbar .btn-outline-success:hover {
    color: rgb(242, 87, 87) !important;
    background-color: white !important;
    border-color: white !important;
}

#fixed-menu {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.row {
    margin-left: 0 !important; 
}

.container-map {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
}

.map {
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.info h2 {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
}

.info p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #555;
    font-size: 16px;
}

.info p .anticon {
    margin-right: 10px;
    color: #1890ff;
}

.info a {
    color: #1890ff;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}
